@page
@model MegaDeskRP.Pages.Desks.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Desk</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Desk.Id" />
            <div class="form-group">
                <label asp-for="Desk.CustomerName" class="control-label"></label>
                <input asp-for="Desk.CustomerName" class="form-control" />
                <span asp-validation-for="Desk.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Width" class="control-label"></label>
                <input asp-for="Desk.Width" class="form-control" />
                <span asp-validation-for="Desk.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Depth" class="control-label"></label>
                <input asp-for="Desk.Depth" class="form-control" />
                <span asp-validation-for="Desk.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.NumOfDrawers" class="control-label"></label>
                <input asp-for="Desk.NumOfDrawers" class="form-control" />
                <span asp-validation-for="Desk.NumOfDrawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.SurfaceMaterials" class="control-label"></label>
                <select asp-for="Desk.SurfaceMaterials" class="form-control">
                    <option value="">Select Surface Material</option>
                    @foreach (var material in Enum.GetValues(typeof(MegaDeskRP.Models.DesktopMaterial)))
                    {
                        <option value="@material">@material</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Desk.RushDays" class="control-label"></label>
                <select asp-for="Desk.RushDays" class="form-control">
                    <option value="0">none - 14 Days</option>
                    <option value="3">3 Days</option>
                    <option value="5">5 Days</option>
                    <option value="7">7 days</option>

                </select>
            </div>
            <div class="form-group">
                <label asp-for="Desk.QuoteDate" class="control-label"></label>
                <input asp-for="Desk.QuoteDate" class="form-control" />
                <span asp-validation-for="Desk.QuoteDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
